{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        },
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve",
                "printWidth": 120
            }
        }
    ]
}
